<div class="topbar">
	<div class="container">
		<div class="row">
			<div class="col-md-8 top-left">
				<div class="title">职教在线&nbsp;</div>
				<div class="info">
					Vocationnal Education Online
					<span class="info-icon"><%= image_tag "01index_topicon.png"%></span>
				</div>
			</div>
			<div class="col-md-4 text-right">
				<div class="signin">
					<%= link_to "登录","#"%>
					<span>|</span>
					<%= link_to "注册","#"%>
				</div>
				<form class="form-inline">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" id="search">
							<div class="input-group-addon btn btn-info">
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>