<nav class="navbar navbar-default topbar">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "职 教 在 线", root_path, class:"navbar-brand title" %>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><%= image_tag "01index-en.png", class:"info" %></li>
			</ul>
			<form class="navbar-form navbar-right topform" role="search">
				<label class="sign" for="search">
					<span><%= link_to '登录', signin_index_path %></span> |
					<span><%= link_to '注册', signin_index_path %></span>
				</label><br>
				<div class="input-group">
					<input type="text" class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-info" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</nav>
<div class="write-row"></div>
