<div class="topbar">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-xs-6">
				<div class="title">
					<%= link_to "职 教 在 线 ", root_path %>
				</div>
			</div>
			<div class="col-md-4">
				<div class="info">
					<div class="row">
						<span class="info-icon"><%= image_tag "01index_topicon.png"%></span>
					</div>
					<div class="row">Vocationnal Education Online</div>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-3">
				<div class="top-right">
					<div class="top-signin">
						<%= link_to "登录","#"%>
						<span>|</span>
						<%= link_to "注册","#"%>
					</div>
					
					<form class="form-inline">
						<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control" id="search">
								<div class="input-group-addon btn btn-info">
									<span class="glyphicon glyphicon-search"></span>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>