<div class="container video">
	<h3><span class="glyphicon glyphicon-play icon-color"></span>&nbsp;&nbsp;正在播放：网络设备维护基础&nbsp;&nbsp;第一集</h3>
	<div class="row">
		<div class="col-md-8">
			<video width="99.96%" height="509" class="mejs-player" poster="/assets/video2.png" controls="controls" preload="none">
				<source type="video/mp4" src="http://vjs.zencdn.net/v/oceans.mp4" />
				<source type="video/webm" src="myvideo.webm" />
				<source type="video/ogg" src="myvideo.ogv" />
			</video>
		</div>
		<div class="col-md-4">
			<div class="knowledge">
				<div class="k-title">知识点</div>
				<div class="catalog">
					<p><span class="glyphicon glyphicon-menu-right icon-color"></span>&nbsp;&nbsp;00:05:00&nbsp;&nbsp; GSM网络结构</p>
					<p><span class="glyphicon glyphicon-menu-right icon-color"></span>&nbsp;&nbsp;00:20:15&nbsp;&nbsp; TD网络结构</p>
					<p><span class="glyphicon glyphicon-menu-right icon-color"></span>&nbsp;&nbsp;00:32:15&nbsp;&nbsp; LTE网络结构</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<%= link_to "本科作业", test_index_path, class: "btn btn-info btn-course", role: "button" %>
		<%= link_to "成绩查询", test_demand_path, class: "btn btn-info btn-course", role: "button" %>
	</div>
</div>



