<!--test_background-->
<div class="test-bg vbox">
	<div class="flex"></div>
	<div class="test-title text-center">
		<h1>网络设备维护基础（一）测试</h1>
		<h4>单选题（不计时）</h4>
	</div>	
	<div class="flex"></div>
</div>