<%= render partial: "share/topbar"%>
<!--test_background-->
<div class="demand-bg make-center">
	<div class="test-title text-center">
		<h1>成绩查询</h1>
	</div>	
</div>
<!--result-->
<div class="container video-list">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="result-title text-center">网络优化（一）测试成绩</div>
			<div class="result-body text-center">
				<h4>你在最近的一次测试中的成绩：<span style="color: green;">65</span>分</h4>
				<div style="height: 15px;"></div>
				<h4>在已完成的<span style="color: orange;">11</span>人中排名第<span style="color: orange;">6</span></h4>
			</div>
		</div>
	</div>
	<div class="text-center">
		<a class="btn btn-info btn-course" href="index" role="button">返 回</a>
	</div>
</div>
<!--footer-->
<div class="container">
	<div class="row">
		<%= render partial: "share/footer"%>
	</div>
</div>