<!--test_background-->
<div class="test-bg make-center">
	<div class="test-title text-center">
		<h1>网络设备维护基础（一）测试</h1>
		<h4>单选题（不计时）</h4>
	</div>	
</div>
<!--test_body-->
<div class="container video-list">
	<div class="list-title">
		<div class="row">
			<div class="col-xs-6">
				<span class="rel">题目列表</span>
			</div>
			<div class="col-xs-6">
				<div class="demand">
					<h4><%= link_to "成绩查询>>", test_demand_path%></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="list-body">
		<% (0..3).each do |index|%>
		<h4 class="test-problem">第一题：下列设备，只能作为接入的输入设备的是</h4>
		<div class="radio">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label>
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				A . CON
			</label>
		</div>
		<div class="radio">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label>
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				A . CON
			</label>
		</div>
		<div class="radio">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label>
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				A . CON
			</label>
		</div>
		<div class="radio">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label>
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				A . CON
			</label>
		</div>
		<% end %>
		<div class="text-center">
			<!-- <button type="submit" class="btn btn-info btn-sign">提交</button> -->
			<%= button_to "提交", test_result_path, class: "btn btn-info btn-sign", method: :get %>
		</div>
	</div>
</div>


