<%= render partial:"test/title_image" %>
<!--test_body-->
<div class="container video-list">
	<div class="list-title">
		<div class="row">
			<div class="col-xs-6">
				<span class="rel">题目列表</span>
			</div>
			<div class="col-xs-6">
				<div class="demand">
					<h4><%= link_to "成绩查询>>", test_demand_path%></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="list-body">
		<% (0..3).each do |index|%>
			<p class="test-problem">&nbsp;&nbsp;第一题：下列设备，只能作为接入的输入设备的是</p>
			<% (0..3).each do |i|%>
				<div class="radio">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						A . CON
					</label>
				</div>
			<% end %>
		<% end %>
		<div class="text-center">
			<!-- <button type="submit" class="btn btn-info btn-sign">提交</button> -->
			<%= button_to "提交", test_result_path, class: "btn btn-info btn-sign", method: :get %>
		</div>
	</div>
</div>


