<div class="wrap">
	<div class="sectionOne" style="min-height:79px;">
		<%= render partial:"share/topbar"%>
	</div>

	<div class="sectionOne"></div>

	<div class="sectionThree" style="min-height:88px;">
		<%= render partial:"share/footer"%>
	</div>
</div>
