// Place all the styles related to the course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
//---------------视频1------------------
.btn-course{
	border: none !important;
	border-radius: 0 !important;
	padding: 15px 40px !important;
	font-size: 24px !important;
	background-color: $color-blue !important;
	margin: 20px 0;
}
.video{
	background-color: $color-video;
	padding: 10px 0;
	border-bottom: 2px solid $color-video-border;
	.introduce{
		@media (min-width: 992px) {
			height: 327px;
		}
		@media (min-width: 1200px) {
			height: 402px;
		}
		@media (max-width: 992px) {
			height: auto;
		}
	}
}
.video-list{
	background-color: $color-write;
	padding-top: 20px;
	.list-title{
		border-bottom:1px solid $color-gray;
		width: 100%;
		.rel{
			width: 120px;
			font-size: 30px;
			color: $color-blue;
			border-bottom: 4px solid $color-blue;
		}
	}
	.list-body{
		padding: 30px 20px;
		.list-body{
			padding: 20px 0;
			line-height: 100%;
		}	
	}
}
.dot{
	border-top: 1px dashed $color-gray;
}
//-----------视频2------------
.knowledge{
	border: 1px solid $color-gray;
	background-color: $color-write;
	@media (min-width: 992px) {
		height: 420px;
	}
	@media (min-width: 1200px) {
		height: 509px;
	}
	@media (max-width: 992px) {
		height: auto;
	}
	height: 505px;
	.k-title{
		background-color: $color-blue;
		text-align: center;
		color: $color-write;
		font-size: 24px;
		padding: 10px 0;
	}
	.catalog{
		padding: 20px;
	}
}
.icon-color{
	color: $color-blue;
}