@import "variables";
.footer{
	color: $color-gray-p;
	border-top: 1px solid $color-gray;
	font-size: 16px;
	background-color: $color-write;
	padding: 30px 0 20px 0;
	a{
		color: $color-gray-p;
	}
	.com-info{
		font-size: 14px;

	}
}