// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
.photo{
	width: 100%;
	margin-bottom: 10px;
}
.main-content{
	background-color: $color-write;
	.my-col{
		margin-bottom: 10px;
	}
	.video-name{
		position: relative;
		padding: 0 0 20px 0;
		color: $color-blue;
		font-size: 25px;
		.num{
			position: absolute;
			left: 10px;
			bottom: 15px;
			color: $color-write;
		}
		.more{
			position: absolute;
			right: 0;
			bottom: 20px;
			font-size: 14px;
			color: $color-blue;
		}
	}
	.video-info{
		height:120px;
		padding: 0px 10px;
		.video-title{
			height: 100px;
			overflow: hidden;
			.head{
				font-size: 16px;
			}
			.para{
				color: $color-gray-p;
			}
		}
		.video-status{
			height: 20px;
			font-size: 12px;
			color: $color-gray;
			text-align: left;
			.status-right{
				float: right;
			}
		}
	}
}