// Place all the styles related to the signin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
.vbox{
	width:100%;
	height:100%;
	display:-moz-box;
	display:-webkit-box;
	display:box;
	-moz-box-orient:vertical;
	-webkit-box-orient:vertical;
	box-orient:vertical;
}
.flex{
	-moz-box-flex:1;
	-webkit-box-flex:1;
	box-flex:1;
}
.signin-body{
	background: url(/assets/03signin.png) no-repeat;
	background-size: 100% 100%;
	.signin-main{
		background-color: $color-gray-bg;
		.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{
			border: none;
			color: $color-black;
		}
		.sign-tab{
			width: 50%;
			text-align: center;
			font-size: 18px;
			a{
				color: $color-black;
				border-radius: 0;
				margin-right: 0;
				border:none;
			}
			a:hover{
				color: $color-signin;
			}
		}
	}
	.sign-area{
		height: 350px;
		padding: 0 70px;
		background-color: $color-write;
	}
	.forget{
		color: $color-gray;
		float: right;
	}
}

