// Place all the styles related to the signin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
.wrap{
	width:100%;
	height:100%;
	display:-moz-box;
	display:-webkit-box;
	display:box;
	-moz-box-orient:vertical;
	-webkit-box-orient:vertical;
	box-orient:vertical;
}
.sectionOne{
	-moz-box-flex:1;
	-webkit-box-flex:1;
	box-flex:1;
}