// Place all the styles related to the signin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
.vbox{
	width:100%;
	height:100%;
	display:-moz-box;
	display:-webkit-box;
	display:box;
	-moz-box-orient:vertical;
	-webkit-box-orient:vertical;
	box-orient:vertical;
}
.flex-box{
	-moz-box-flex:1;
	-webkit-box-flex:1;
	box-flex:1;
}
.signin-body{
	background: url(/assets/03signin.png) no-repeat;
	background-size: 100% 100%;
	.signin-main{
		background-color: $color-write;
	}
	.sign-area{
		padding: 100px 60px;
	}
	.forget{
		color: $color-gray;
		float: right;
	}
}

