// Place all the styles related to the teacher controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
.teacher-title{
	color: $color-gray-p !important;
}
.thead-bgc{
	background-color: $color-blue;
}