// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
//----------------test_demand--------------
.demand-bg{
	background: url(/assets/04demand.png) no-repeat;
	background-size: 100% 100%;
	min-height: 271px;
}
//--------------test_index-------------------
.test-bg{
	background: url(/assets/04test.png) no-repeat;
	background-size: 100% 100%;
	min-height: 271px;
}
.test-title{
	width: 100%;
	color: $color-write;
	background-color: rgba(0,0,0,0.3);
	h1{
		margin-top: 10px;
	}
}
.demand{
	padding-top: 10px;
	float: right;
	a{
		color: $color-blue;
	}
}
.test-problem{
	padding: 10px 0;
	border-top: 1px solid $color-gray;
	border-bottom: 1px solid $color-gray;
	background-color: $color-video;
}
//-----------------test_result-------------------
.result-title{
	background-color: $color-blue;
	color: $color-write;
	font-size: 24px;
	padding: 5px 0;
}
.result-body{
	padding: 60px 0 80px 0;
	background-color: $color-video;
	.test-icon{
		margin-bottom:30px;
		line-height:100%;
		font-size:26px;
	}	
}
