@import  "variables";
.topbar{
	padding:10px 0px;
	color: $color-write;
	background-color: $color-blue;
	.title{
		font-size: 30px;
		line-height: 25px;
		border-right: 1px solid $color-write;
		padding-left: 20px;
		margin-top: 15px;
		a {
			color: $color-write;
			text-decoration: none;
		}
	}
	.info{
		font-size: 20px;
		line-height: 100%;
		padding-left: 5px;
		.info-icon{
			padding-left: 180px;
		}
	}
	.input-group-addon{
		background-color: $color-search;
		color: $color-blue;
	}
	.top-right{
		text-align: right;
		padding-right: 20px;
		.top-signin{
			margin-bottom: 5px;
			a{
				color: $color-write;
				text-decoration: none;
			}
			a:hover{
				color: $color-signin;
			}
		}
	}
}