@import  "variables";
.topbar{
	margin-bottom: 5px !important;
	.title{
		font-weight: 600;
		font-size: 35px;
	}
	.info{
		color: $color-write;
		padding:0 0 0 10px; 
		font-size: 20px;
	}
	.input-group-addon{
		background-color: $color-search;
		color: $color-blue;
	}

	.top-right{
		text-align: right;
		padding-right: 20px;
		.top-signin{
			margin-bottom: 5px;
			a{
				color: $color-write;
				text-decoration: none;
			}
			a:hover{
				color: $color-signin;
			}
		}
	}
}