@import  "variables";
.topbar{
	margin-bottom: 0px !important;
	.navbar-toggle:hover{
		background-color: $color-signin !important;
	}
	.icon-bar{
		background-color: $color-write !important;
	}
	.title{
		font-size: 35px;
	}
	.info{
		padding-left: 10px;
		@media (min-width: 768px ) {
			padding: 28px 0 0 10px; 			
		}
	}
	.topform{
		margin:15px 0;
		.sign{
			color: $color-write;
			font-weight: normal;
			@media (min-width: 768px) {
				float: right;
			}
			a{
				color: $color-write;
			}
		}
		.form-control{
			border:1px solid transparent;
			-webkit-box-shadow: none;
			 box-shadow:none;
		}
		.btn-info{
		 	color: $color-blue;
		 }
	}
}

