$color-blue: #5bcbdc;
$color-gray: #c4c4c4;
$color-gray-bg: #ebebeb;
$color-write: #fff;
$color-search: #ddf8fc;
$color-signin: #269abc;
$color-gray-p: #838383;
$color-video:#f2fdff;
$color-video-border:#dfedf0;
$color-black:#000;
$color-red:red;

//navbar
$navbar-height: 95px;
$navbar-default-bg: $color-blue;
$navbar-border-radius:none;
$navbar-default-link-color:$color-write;

//form
$input-border-radius: none;	
$navbar-default-toggle-border-color:$color-write;

//button
$btn-info-bg:$color-search;

//tabs
$nav-tabs-border-color:transparent;
$nav-tabs-link-hover-border-color:transparent;