$color-blue: #5bcbdc;
$color-gray: #c4c4c4;
$color-gray-bg: #ebebeb;
$color-write: #fff;
$color-search: #ddf8fc;
$color-signin: #269abc;
$color-gray-p: #838383;
$color-video:#f2fdff;
$color-video-border:#dfedf0;
$color-red:red;

//grid padding
$grid-gutter-width:10px;

//navbar
$navbar-height: 80px;
$navbar-default-bg: $color-blue;
$navbar-border-radius:none;
$navbar-default-color: $color-write;
$navbar-default-link-color:$color-write;
$nav-link-padding: 0px 5px;
$navbar-default-link-hover-color:$color-signin;