$color-blue: #5bcbdc;
$color-gray: #c4c4c4;
$color-gray-bg: #ebebeb;
$color-write: #fff;
$color-search: #ddf8fc;
$color-signin: #269abc;
$color-gray-p: #838383;
$color-video:#f2fdff;
$color-video-border:#dfedf0;
$color-red:red;

//grid padding
$grid-gutter-width:10px;